
{% extends "back/master.html" %}
{% load static %}

{% block mainblock %}
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Comment List<br><small>you can add, edit and delete your data!</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Comment</li>
        <li><a href="/comment/list/">List</a></li>
    </ul>
    <!-- END Datatables Header -->

    <!-- Datatables Content -->
    <div class="block full">
        <div class="block-title">
            <h2><strong>Comment</strong> List</h2>
        </div>

        <div class="table-responsive">
            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                <thead>
                    <tr>
                      <th class="text-center">ID</th>
                        <th>Name</th>
                        <th>Date & Time</th>
                        <th>Email</th>
                        <th>Cm</th>
                        <th>Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                  {% for i in comment %}

                  <tr>
                      <td class="text-center">{{ i.pk }}</td>
                      <td>{{ i.name }}</td>
                      <td>{{ i.date }} | {{ i.time }}</td>
                      <td>{{ i.email }}</td>
                      <td>{{ i.cm }}</td>
                      {% if i.status == 0 %}
                      <td>Pending</td>
                      {% elif i.status == 1 %}
                      <td>Confirmed</td>
                      {% endif %}
                      <td class="text-center">
                          <div class="btn-group">

                              <a href="{% url 'comments_confirme' pk=i.id %}" data-toggle="tooltip" title="Confirmed" class="btn btn-xs btn-default"><i class="fa fa-pencil">Confirmed</i></a>
                              <a href="{% url 'comments_del' pk=i.id %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>

                          </div>
                      </td>
                  </tr>

                  {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <!-- END Datatables Content -->
</div>
<!-- END Page Content -->
{% endblock %}

{% block footerblock %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static "back/js/pages/tablesDatatables.js" %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}
